@import '../global/_variables.scss';

.weather {
  &__logo {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    background: $header-background;
    z-index: 9999;

    img {
      width: 165px;
    }
  }

  &__container {
    background: $app-background;
    padding: 90px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: 30px;
      height: 100vh;
      padding: 0;

      & .card:first-child {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
      }
    }
  }
}
