$app-background: #F1F1F1;
$card-footer-background: rgba(241,241,241, 0.5);
$divider: #EBEBEB;
$box-shadow: rgba(51,51,51, 0.1);
$cold-temperature: #69A3FF;
$medium-temperature: #FF9632;
$hot-temperature: #ED1946;
